[include]
  path = .basegitconfig
[includeIf "gitdir:~/Developments/work/"]
  path = .workgitconfig 
[alias]
	ac = commit -am
	hs = log --pretty=\"%C(Yellow)%h %C(reset)%ad (%C(Green)%cr%C(reset))%x09 %C(Cyan)%an: %C(reset)%s\" --date=short
[merge]
	conflictstyle = diff3
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
